:root{
            background-color: skyblue;
        }
p:nth-child(2){
            background-color: black;
        }
p:nth-last-child(3){
            color:red;
}

        li:nth-child(odd)
        {
            background-color: pink;
        }
        li:first-child{
            background-color: black;
        }
        li:last-child{
            background-color: black;
        }
        li:nth-child(even)
        {
            background-color: slategray;
        }